<{$xstreamer_admin_navigation}>
  <{if $xstreamer_categorys|@count gt 0}>
	<table width='100%' cellspacing='1' class='outer'>
		<tr>
			<th colspan='2'> Areas </th>
		</tr>
		<tr>
		<td class='head'>Category</td>
		</tr>
		<{foreach from=$xstreamer_categorys key=key item=category}>
		<tr class="<{cycle values="odd,even"}>" valign='top' align='left'>
  		<td><a href="index.php?class=category&id=<{$category.id}>"><{$category.name}></a></td>
		</tr>
	<{/foreach}>
	</table>
<{/if}>
<br>
<{include file="db:xstreamer_admin_category_add.html"}>